.git
.github
.next
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.production
.env.*.local
*.zip
coverage
playwright-report
.vercel
.render
.railway
.DS_Store
